<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WeddingManagerDataContext" connectionString="metadata=res://*/DataContext.WeddingManagerDataContext.csdl|res://*/DataContext.WeddingManagerDataContext.ssdl|res://*/DataContext.WeddingManagerDataContext.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\SqlCE\WeddingManagerData.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>